.special {
   color: #fff; 
   transition: all 1s ease-out;
}

.quickimg {
   padding-bottom: 400px;
}

.current{
   background-color:  #6c757d; 
}

.special:hover{
    color: #6c757d;
}

.nav {
    background-color: #343a40;
}

.round {
  border-radius: 50%;
}

.veryspecial {
    color: #fff;
    background-color: #343a40;
    transition: all .5s ease-out;
}


.large {
    font-size: 100px;
    color: rgb(245, 245, 245);
    transition: all .5s ease-out;
}

.large:hover {
    color:  #6c757d;
    font-size: 125px;
}

.exlarge {
    font-size: 200px;
    color: #343a40;
    transition: all 1s ease-out;
}

.exlarge:hover {
    color:  #6c757d;
    font-size: 250px;
}

.nomargin{
    margin-bottom: 0px;
}

.nopadding {
    padding-bottom: 0px;
}

.myimg {
    position: relative;
    bottom: 200px;
}

.txtlarge {
    font-size: 100px;
}

.tmargin {
  margin-top: 0px:
}

.background{
    background-image: url(images/jon-flobrant-183186-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.jumbotron {
    background-color: transparent;
}

.offwhite {
  color: rgb(245, 245, 245);
}

.plus {
    padding: 60px;
}

.project-margin {
    margin-bottom: 30px;
}

.txt {
    font-size: 35px;
}

.txt2 {
    font-size: 30px;
}

.padding-top {
    padding-top: 10px;
}

.padding-right {
  padding: 5px;
}