.special {
   color: #fff; 
   background-color: #343a40;
   transition: all 1s ease-out;
}

.current{
   background-color:  #6c757d; 
}

.special:hover{
    color: #6c757d;
}

nav {
    background-color: #343a40;
}


.nav-img {
    border-radius: 50%;
    height: 40%;
    width: 40%;
}

.veryspecial {
    color: #fff;
    background-color: #343a40;
    transition: all .5s ease-out;
}

.slink {
    color: #343a40;
    transition: all 1s ease-out;
}

.slink:hover {
    color: #fff;
    font-size: 50px;
}

.large {
    font-size: 100px;
    color: #343a40;
    transition: all 1s ease-out;
}

.large:hover {
    color:  #6c757d;
    font-size: 125px;
}

.exlarge {
    font-size: 200px;
    color: #343a40;
    transition: all 1s ease-out;
}

.exlarge:hover {
    color:  #6c757d;
    font-size: 250px;
}